*{margin:0; padding:0; box-sizing: border-box; font-family: arial, sans-serif;} /* reset*/

ul{list-style:none; } /*tira os pontos da lista*/

a{text-decoration:none;} /*default font*/

img/*_max*/{max-width:100%;}


/* default collor #66CDAA */

@media screen and (max-width:480px){ /* só com 2 @medias*/

}


@media screen and (min-width:1200px){ 
	.container{
		display:grid;
		grid-template-columns:65% 30%;
		justify-content:space-between:/* os 5% entre element*/;
		padding: 10px/*sup e inferior na pag*/ 5%/*lateral na pag*/;
		grid-template-areas:
			"header header"
			"main aside" ;
}

header{grid-area: header; 
	display:grid;
	align-items:center;
	grid-template-columns:20% 50% 30%;
	grid-template-areas:
		"logo nav_center search"  /* logo alinhada a esquerda*/
		"nav nav nav"
		"ads ads ads" ;
}	
.logo{
	grid-area:logo;
	padding:0 5%;
	
	background-color:#fff;
	cursor:pointer;
	
	}
.search{
	grid-area:search;
	padding-left:2%; /* right*/
	
	}
.search input[type='search']{
	display:inline-block;
	width:80%;
	height:35px;
	border-radius:2px;
	margin-left:-4px;/* right*/
	font-size: 15px;
	padding:0 7px;
	}

	
.search button{	
	display:inline-block;
	width:30px;
	margin-right:-4px;/* left*/
	border-radius:0 2px 2px 0;
	border:none;
	vertical-align: top;
	cursor:pointer;
	height:35px;
	}
.nav_center{
	grid-area:nav_center;
	text-align:center;
	display:inline-block;
	margin:0 10px;
	
	}
/*.center_nv li{
	display:inline-block;
	margin: 0 12px;
	width:25px;
	margin-left:-2px;
	border:none;
	vertical-align: top;
	cursor:pointer;
	height:30px;
	}*/
nav{
	
	grid-area:nav;
	color:#66CDAA;/*color font*/
	}
nav ul{
	display:inline-block;
	padding-left:20%;
	
	}
nav li{	
	display:inline-block;
	font-weight:bold;
	font-size:17px;
	margin: 0 15px;
	
	}
.ads{
	grid-area:ads;
	text-align:center;
	margin-top:10 15px;
	overflow:hidden;
	}
.ads img{	
	padding-top:15px;
	display:inline-block;
	width:auto;
	height:100%;
	}

main{grid-area: main; height:200px; background: #66CDAA;}

.slide{
	
	align-items:center;
	display:grid;
	grid-template-columns:65% 35%;
	background: #66CDAA;
	grid-template-areas:
		"slide_foto slide_text"
		"slide_thumb slide_thumb" ;
	}
.slide_foto{
	grid-area:slide_foto; 
	/*width:auto;
	height:100%;*/
	overflow:hidden;
	}

.slide_foto img{
	vertical-align:middle;
	width:100%;
	height:100%;
	}

.slide_text{
	grid-area:slide_text;
	padding:0 5%;
	/*line-height: 30px;*/
	
	
	}
.slide_thumb{
	grid-area:slide_thumb;
	display:grid;
	grid-template-columns:repeat(5,19.5%);
	justify-content: space-between;
	padding-top:10px;
	background: #aaa;
	}
.slide_thumb div{
	height:100px;
	background: #d5d5d5;
	}	
	.thumb img{
		width:100%;
		height:100%;
		}		

.container_noticias{
	display:grid;
	margin-top:30px;
	grid-row-gap:30px;
		
	
	}

.noticias{
	display:grid;
	grid-template-columns:28% 58% 10%; /*faltou 4%*/
	justify-content: space-between;/*o que faltou do grid temp columns*/
	margin-top:30px;
	/*line-height:30px;*/
	align-items:center;
	
	}

.noticias_coments img{
	width:30%;
	height:30%;
	}
	
aside{
	grid-area:aside;background:#d5d5d5;
	
	}
	.v0_theme{
		margin-top:10px;text-align:center;
		}
	
	.v0_theme ol{
		column-count:2;
		line-height:30px;
		margin-left:30px;
	}
	.ads_aside{
		margin-top:20px;margin-left:30px;
		}	
		
	}
	













